<div class="container">
    <div class="input-container">
        <h2>Welcome back</h2>
        <mat-form-field appearance="fill">
            <mat-label>Username</mat-label>
            <input matInput type="text" class="right-align">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Enter your password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        
  <button mat-raised-button color="primary">Login 
    <mat-icon aria-hidden="false" aria-label="input icon">input</mat-icon>

</button>
    </div>
</div>