.maindiv{
    height: 90v;
    background-image: url('https://tr1.cbsistatic.com/hub/i/r/2016/11/08/2b6a4387-a756-43ad-aa95-3666a4653e6b/resize/1200x/d8509c50f303dd46ba7c578bd9db55db/data-center-1.jpg');
    color: green;
}